.homeSection{
  width: 100%;
  overflow: hidden;
  padding: 15px;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.communityImg{
  width: 80%;
  height: 100%;
  object-fit: cover;
}

.footerContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerContent h2{
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
}

.footerContent p{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}




